body {
  font-family: 'Lato', sans-serif;
}

hr {
  width: 50%;
}

.bio h2 {
  font-size: 2.1em;
}

.bio a {
  color: black;
}

.bio a:hover {
  text-decoration: none;
}

@media screen and (max-width: 1200px) {
  .bio {
    width: 75%;
  }
}

@media screen and (max-width: 700px ) {
  .bio {
    width: 100%;
  }
  body #header {
    height: 600px;
  }

  #header #profile-picture {
    height: 120px;
    width: 120px;
    border-radius: 60px;
  }

  #header #profile-container {
    height: 125px;
    width: 126px;
    border-radius: 70px;
  }

  #header #name {
    font-size: 2em;
  }

  #header #title {
    font-size: 1.5em;
  }

  #header .social a {
    height: 40px;
    width: 40px;
    background-size: 40px 40px;
  }
}

#header {
  background-image: url('http://upload.wikimedia.org/wikipedia/commons/a/a4/Ggb_by_night.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  -webkit-background-size: cover;
  background-position: center;
  padding-bottom: 50px;
  height: 750px;
}

#about-me {
  padding-top: 30px;
  position: fixed;
  top: 425px;
  left: 50%;
  margin-top: -245px;
  margin-left: -207px;
}

#profile-picture {
  display: block;
  margin: 0 auto;
  height: 180px;
  width: 180px;
  border-radius: 100px;
}

#profile-container {
  padding-top: 2.5px;
  display: block;
  margin: 0 auto;
  height: 185px;
  width: 186px;
  border-radius: 100px;
  background-color: white;
}

#name {
  color: white;
  text-transform: uppercase;
  font-size: 2.5em;
  display: block;
  text-align: center;
}

#title {
  text-align: center;
  color: gray;
  font-size: 2em;
}

.social {
  text-align: center;
}
.social a {
  display: inline-block;
  margin-right: 20px;
  height: 50px;
  width: 50px;
  background-size: 50px 50px;
}
.linkedin {
  background-image: url('http://www.lakshmanswaroop.com/files/img/linkedin-icon.png');
}
.github {
  background-image: url('http://asap.github.io/flask-nyc/testing-selenium-jasmine/img/github.png');
}
.email {
  background-image: url('http://wriber.com/static/images/banner-email-icon.png');
}

.content {
  padding-top: 40px;
  text-align: center;
  position: relative;
  background-color: white;
}


section {
  margin: 0 auto;
  width: 50%;
  padding: 10px;
}

.bio p {
  text-align: left;
  font-size: 20px;
}

.projects {
  margin: 0 auto;
  width: 90%%;
}

.projects img {
  margin: 0 auto;
}

footer hr {
  width: 100%;
  margin: 0 auto;
}

footer p {
  text-align: center;
  padding: 10px;
  margin: 0 auto;
}